<link rel="stylesheet" href="content/login/login.css">
<!-- <p>login works!</p> -->


<div class="main">
    <div class="container">
        <!-- <center> -->
        <div style="text-align: center;">
            <div class="middle">
                <div id="login">
                    <form>
                        <fieldset class="clearfix">
                            <p><span class="fa fa-user"></span>
                                <input type="text" ng-model="userName" name="emailId" Placeholder="Email Id" required>
                            </p>
                            <p><span class="fa fa-lock"></span>
                                <input type="password" ng-model="password" name="Password" Placeholder="Password" required>
                            </p>
                            <div>
                                <span style="width:50%;display: inline-block;">
                                        <input type="submit" ng-click="submitlogin()" value="Sign In">
                                    </span>
                            </div>
                        </fieldset>
                        <div class="clearfix"></div>
                    </form>
                    <div class="clearfix"></div>
                </div>
                <div class="logo">Login
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- </center> -->
    </div>
</div>